---
import { parseList } from "@/cms/core";
import CmsPicture from "@/components/CmsPicture.astro";

const { images: rawImages } = Astro.props;
const images = parseList<string>(rawImages);
---

{
  images.length > 0 && (
    <section>
      <div class="grid gap-4">
        {images.map((src) => (
          <CmsPicture src={src} alt="" preset="content" loading="lazy" class="h-auto w-full rounded-lg" />
        ))}
      </div>
    </section>
  )
}
